.about{
   padding-top: 150px;
   height: 100vh;
   background: center bottom no-repeat;
   box-sizing: border-box;

   &__img-wrapper{
      position: relative;
      height: 718px;
   }

   &__img{
      position: absolute;
      &:nth-child(1){
         left: 0;
         top: 110px;
      }
      &:nth-child(2){
         left: 550px;
         top: 0;
      }
      &:nth-child(3){
         left: 449px;
         top: 400px;
      }
   }
}
