.social-icon{
   display: inline-block;
   width: 30px;
   height: 30px;
   background: center /contain no-repeat;
   &--fb{background-image: url('../images/fb.png');}
   &--inst{background-image: url('../images/insta.png');}
}


.credits{
   padding: 10px 0;
   background-color: #fff;
   color: $dark;
   font-size: 10px;

   &__text{
      margin-right: 15px;
      padding-right: 15px;
      display: inline-block;
      height: 38px;
      border-right: 2px solid $gray;
      line-height: 38px;
      vertical-align: top;
   }
}
