body{
  font-weight: 400;
  font-size: 14px;
  font-family: $metropolis;
}

h1,h2{
  font-weight: 700;
}

h1, h2{
  font-size: 26px;
  color: $gray;
  @include media($breakpointMd){
    font-size: 36px;
  }
  @include media($breakpointLg){
    font-size: 80px;
  }
}

h3{
  font-size: 20px;
  @include media($breakpointMd){
    font-size: 30px;
  }
  @include media($breakpointLg){
    font-size: 44px;
  }
}

h4{
  font-size: 18px;
  font-weight: 600;
  @include media($breakpointLg){
    font-size: 20px;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

sup{
  vertical-align: super;
  font-size: smaller;
}

p{
  margin: 1em 0;
  line-height: 1.5em;
}

strong{
   font-weight: 600;
}

input, textarea{
   margin-bottom: 15px;
  padding: 14px 10px;
  display: block;
  width: 100%;
  border: 1px solid $gray;
  box-sizing: border-box;

  &:focus{
    outline: 0;
    box-shadow: 0 0 5px 0 $gray;
  }
}

textarea{
  height: 140px;
  resize: none;
  font-family: $metropolis;
}
label{
  font-size: 20px;
  font-weight: 600;
}

button{
  border: 0;
  cursor: pointer;
  background: transparent;
  &:focus{
    outline: 0;
  }
}

span.wpcf7-not-valid-tip{
  display: none;
}

.wpcf7-not-valid{
  border-color: #f00;
}

div.wpcf7-response-output.wpcf7-validation-errors, div.wpcf7-response-output.wpcf7-mail-sent-ok{
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}
