.mtb-80{
   margin-top: 30px;
   margin-bottom: 30px;
   @include media($breakpointMd){
      margin-top: 60px;
      margin-bottom: 60px;
   }
   @include media($breakpointXl){
      margin-top: 80px;
      margin-bottom: 80px;
   }
}
.ptb-80{
   padding-top: 30px;
   padding-bottom: 30px;
   @include media($breakpointMd){
      padding-top: 60px;
      padding-bottom: 60px;
   }
   @include media($breakpointXl){
      padding-top: 80px;
      padding-bottom: 80px;
   }
}

.pl-40{
   @include media($breakpointLg){
      padding-left: 40px;
   }
}
.pr-40{
   @include media($breakpointLg){
      padding-right: 40px;
   }
}
.pt-130{
   @include media($breakpointLg){
      padding-top: 130px;
   }
}

.dark-bg{
   background-color: $dark;
   color: #fff;
}

.btn{
   text-transform: uppercase;
   &--underline{text-decoration: underline;}
}
