.moved{
   margin-top: -100vh;
   transition: 500ms;
}

.mtb-80{
   margin-top: 30px;
   margin-bottom: 30px;
   @include media($breakpointMd){
      margin-top: 60px;
      margin-bottom: 60px;
   }
   @include media($breakpointXl){
      margin-top: 80px;
      margin-bottom: 80px;
   }
}
.ptb-80{
   padding-top: 30px;
   padding-bottom: 30px;
   @include media($breakpointMd){
      padding-top: 60px;
      padding-bottom: 60px;
   }
   @include media($breakpointXl){
      padding-top: 80px;
      padding-bottom: 80px;
   }
}

.pl-40{
   @include media($breakpointMd){
      padding-left: 40px;
   }
}
.pr-40{
   @include media($breakpointMd){
      padding-right: 40px;
   }
}
.pt-130{
   @include media($breakpointLg){
      padding-top: 130px;
   }
}

.mobile-space{
   padding-top: 40px;
   @include media($breakpointMd){
      padding-top: 0;
   }
}

.dark-bg{
   background-color: $dark;
   color: #fff;
}

.btn{
   text-transform: uppercase;
   &--underline{text-decoration: underline;}
}

.two-col{
   @include media($breakpointMd){
      columns: 2;
   }
}

.slick-wrapper{
   position: relative;
}

.slick__item{
   padding: 0 10px;
   height: 180px !important;
   box-sizing: border-box;
}

.slick-arrow{
   display: none;
   @include media($breakpointLg){
      display: block;
      position: absolute;
      top: 50%;
      width: 15px;
      height: 15px;
      &--prev{
         left: -20px;
         border-left: 3px solid $gray;
         border-bottom: 3px solid $gray;
         transform: translateY(-50%) rotate(45deg);
      }
      &--next{
         right: -20px;
         border-right: 3px solid $gray;
         border-bottom: 3px solid $gray;
         transform: translateY(-50%) rotate(-45deg);
      }
   }
}
